<div class = "post">
    <h3><a href="/view-post/<%= post._id %>"><%= post.userName%></a><span><%= post.createdAt %></span></h3>                    
    <p><%= post.message %> <a href="/delete-post/<%= post._id %>">Delete</a></p>                        
</div>  